.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(../../images/banner.jpg);
  height: auto;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
